<div class="animated fadeIn">
  <div class="row">    
      <div class="col-sm-6 col-md-4">
          <div class="card">
            <div class="card-header">
              Jendouba
            </div>
            <div class="card-block">
              <ul>
                <li>Prime d’investissement : 25% du montant de l’investissement FR inclu avec un plafond de 1.500.000 DT.</li>
              </ul>
                
            </div>
          </div>
        </div><!--/.col-->

        <div class="col-sm-6 col-md-4">
            <div class="card">
              <div class="card-header">
                Jendouba
                
              </div>
              <div class="card-block">
                <ul>
                  <li>Pour les nouveaux promoteurs cette prime est de 30% avec un plafond de 2.000.000 DT.</li>
                </ul>
                  
              </div>
            </div>
          </div><!--/.col-->
        
          <div class="col-sm-6 col-md-4">
              <div class="card">
                <div class="card-header">
                  Jendouba
                  
                </div>
                <div class="card-block">
                  <ul>
                    <li>Prise en charge de la cotisation patronale au régime légal de la sécurité sociale (CNSS) :
                        la prise en charge par l'Etat de cette contribution pendant les dix premières années à partir de la date d'entrée en activité effective.</li>
                  </ul>
                    
                </div>
              </div>
            </div><!--/.col-->  
    
  </div><!--/.row-->
</div>
